.minesweeper {
}

.minesweeper .table {
    margin: 3px;
    display: inline-block;
}

.minesweeper .row {
}

.minesweeper .cell {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.minesweeper .cell.default {
    background: grey;
}

.minesweeper .cell.flag {
    background: darkorange;
}

.minesweeper .cell.mine {
    background: red;
    color: transparent;
}

.minesweeper .cell.open {
    background: white;
    cursor: default;
}
